* {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  width: 100%;
  margin-top: -77px;
  background-color: white;
  border-bottom: 8px solid #E3E8EF;
  height: 77px;
}

.logo {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 25px;
  height: 80%;
  width: 7%;
  background-color: black;
}

.tit {
  display: inline-block;
  margin-left: 50px;
  color: #CC998D;
  text-align: left;
  font-size: 60px;
}

.main {
  margin-top: 77px;
}

.about_us {
  height: 700px;
  background-color: #9FB5D2;
}

.portfolio {
  height: 700px;
  background-color: #7191BA;
}

.footer {
  padding-top: 30px;
  height: 47px;
  background-color: #E3E8EF;
  border-top: 8px solid white;
  color: white;
  text-align: center;
}


-------------------------------Colors-----------------------------------------
#5C7CA5	#53657C	#1E406B	#8DABD2	#9FB5D2

#FBCD83	#BCA279	#A3752A	#FDDAA2	#FDE4BA
