* {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  width: 100%;
  margin-top: -77px;
  background-color: #ECEBE4;
  height: 77px;
}

.logo {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 25px;
  height: 80%;
  width: 7%;
  background-color: black;
}

.tit {
  display: inline-block;
  margin-left: 50px;
  color: #CC998D;
  text-align: left;
  font-size: 60px;
}

.main {
  margin-top: 77px;
}

.about_us {
  height: 800px;
  background-color: #FFAD5A;
}

.portfolio {
  height: 800px;
  background-color: #A6621D;
}

.footer {
  //position: absolute;
  //bottom: 0px;
  background-color: black;
  height: 100px;
}
