* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(../img/bg.png);
  background-size: 100%;
}

.header {
  min-width: 600px;
	box-sizing: border-box;
  height: 150px;
  //padding: 100px;
  //background-color: black;

}

.header_logo {
  height: 100px;
  color: #FFFFFF;
}

.logo_image {
  height: 135px;
  margin-left: 130px;
}

.envato {
  position: relative;
  display: inline-block;
  bottom: 50px;
  font-size: 60px;
}

.bangl {
  margin: 0;
  position: relative;
  display: inline-block;
  color: #82b541;
  font-family: "Roboto Slab";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.39px;
  bottom: 25px;
  right: 160px;
}

#navigation {
  position: relative;
  height: 100px;
  margin-left: 618px;
  bottom: 25px;
}

#navigation ul li {
  float: left;
  list-style-type: none;
}

#navigation ul li a{
  color: #FFFFFF;
  padding: 23px;
  color: #ffffff;
  font-family: "Roboto - Thin";
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

#timer{
  margin: auto;
  margin-top: 100px;
  height: 198px;
  width: 972px;
  border: 2px solid #82b541;
  border-radius: 20px;
}

.num {
  text-align: center;
  color: #FFF;
  font-family: "Roboto Slab - Thin";
  font-size: 130px;
  font-weight: 400;
  text-transform: uppercase;
}

.lett {
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 25px;
  font-weight: 400;
  word-spacing: 140px;
  margin-left: 100px;
  text-transform: uppercase;
}

.form {
  height: 530px;
  width: 430px;
  background-color: #FFFFFF;
  margin-top: 116px;
  margin-left: 771px;
  align: center;

}

.Base {
  //position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
  margin-top: 116px;
  margin-left: 771px;
  width: 431px;
  height: 530px;
  z-index: 186;
}

.Sign_up {
  height: 46px;
  padding: 35px;
}

input {
  //align: right;
  width: 370px;
  height: 53px;
  margin-left: 30px;
  margin-bottom: 20px;
  //background-color: black;
}

.welcome {
  position: relative;
  min-width: 300px;
  width: 580px;
  height: 300px;
  left: 170px;
  top: -200px;
  border: 3px solid black;
}
