* {
  margin: 0px;
  padding: 0px;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"),
         url(../fonts/10871.otf);
}

/*.bg {
  positon: relative;
  width: 100%;
  z-index: 5;
}*/

body {
  background-image: url(../img/back.png);
  background-size: 100%;
}

.logo {
  display: inline-block;
  position: absolute;
  margin-left: 190px;
}

.header {
  font-family: "Gilroy";
  width: 100%;
  height: 58px;
  margin-top: 42px;
  //background-color: red;
}

.tren {

  //position: absolute;
  display: inline-block;
  margin-left: 325px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #434344;
}

.phone {
  display: inline-block;
  position: absolute;
  margin-top: 5px;
  font-weight: bold;
  right: 255px;
  color: white;
  font-size: 26px;
}

.alo {
  position: absolute;
  display: inline-block;
  right: 185px;
  //margin-bottom: 15px;
}

.girls {
  position: absolute;
  z-index: -1;
  width: 100%;
  margin-top: -92px;
}

.main {
  font-family: "Gilroy";
  height: 700px;
  border: 3px solid red;
}

.sport {
  font-size: 86px;
  color: rgb(35, 137, 255);
  background: linear-gradient(-180deg, #6333ff 33%, #3366ff 66%, #3399ff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.929;
  -moz-transform: matrix( 0.7415214903197,0,0,0.74194010474875,0,0);
  -webkit-transform: matrix( 0.7415214903197,0,0,0.74194010474875,0,0);
  -ms-transform: matrix( 0.7415214903197,0,0,0.74194010474875,0,0);
  position: absolute;
  left: 771.878px;
  top: 193.485px;
  z-index: 156;
}

.legs {
  position: absolute;
  left: 842.878px;
  top: 242.485px;
  font-size: 167px;
  color: #FFFFFF;
}

.e-mail {
  outline: none;
  border: none;
  border-bottom: 3px solid rgb(83, 39, 255);
  background-color: inherit;
  position: absolute;
  left: 879px;
  top: 524px;
  width: 265px;
  height: 30px;
  z-index: 139;
  font-size: 18px;
  color: #FFFFFF;
}

.name {
  outline: none;
  border: none;
  border-bottom: 3px solid rgb(83, 39, 255);
  background-color: inherit;
  position: absolute;
  left: 880px;
  top: 458px;
  width: 288px;
  height: 30px;
  z-index: 138;
  font-size: 18px;
  color: #FFFFFF;
}

.Rounded_Rectangle_1 {
  border-radius: 43px;
  background-image: -moz-linear-gradient( -83deg, rgb(83,39,255) 0%, rgb(17,174,255) 100%);
  background-image: -webkit-linear-gradient( -83deg, rgb(83,39,255) 0%, rgb(17,174,255) 100%);
  background-image: -ms-linear-gradient( -83deg, rgb(83,39,255) 0%, rgb(17,174,255) 100%);
  border-color: #0099ff;
  position: absolute;
  left: 843px;
  top: 594px;
  width: 401px;
  height: 90px;
  z-index: 146;
  font-family: "Gilroy";
  color: #FFFFFF;
  font-size: 20px;
}

.Rounded_Rectangle_1:focus {
  outline: none;
}

.main1 {
  height: 900px;
  border: 3px solid blue;
}

.main2 {
  height: 830px;
  border: 3px solid green;
}

.main3 {
  height: 820px;
  border: 3px solid #FFFFFF;
}
