*{
	margin: 0 auto;
	padding:0;
}

.header_block{
	height:500px;
	padding: 60px;
	margin-top: 50px;
}

.header_logo{
display: grid;
justify-content: left;
}
.header_title{
height: 103px;
}

.header_menu{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 200px auto 60px 80px 80px 80px 80px 80px;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
	height: 50px;
}

.menu_item{
	display: grid;
	margin: 15px 15px;
}

.About_block{
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 60px;
	background-color: orange;
	height: 300px;
}

.block_title > h2{
	font-size: 40px;
}

.About_blocl > p{
	font-size: 18px;
}


.services_block{
	padding: 60px;
	display: grid;
	align-items: center;
	padding: 60px;
}

.services_panel{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.serv_panel_item{
	display: grid;
	align-items: center;
}

.my_skills_block{
	padding: 60px;
	height: 500px; 
	text-align: center;
}

.skills_plot{

}
.adobe_item{
	width: 20px;
}
.adobe_img_block{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portfolio_block{

	padding: 60px;
}

.portfolio_block_panel{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.load_more_button{
	
}
}
.contact_block{
	padding: 60px;

}
.service_block{
	height: 300px;
}