
	html {
	    scroll-behavior: smooth
	}

	*{
		margin: 0 auto;
		padding:0;
	}

	p{
		font-family: fantasy;
	}

	h1{
		font-family: "Arial Black";
		font-size: 40px;
	}

	.logo_image{
		height: 50px;
		//border: 2px dotted red;
	}

	.header_block{
		min-width: 600px;
		box-sizing: border-box;
		height:750px;
		padding:5%;
		padding-top:100px;
		background-image: url("img/header_bg.png");
	}

	.header_container{
		display: grid;
		//margin:5%;
		height: 650px;
		grid-template-columns: 1fr 1fr;
		//border: 3px dotted red;
	}

	.header_content{
		padding-right: 20%;
		margin-left: 0;
		margin-right: auto;
		padding: 200px 0px 0px 0px;
		//border: 2px dotted green;
	}

	.hero_img_container{
		margin-left: auto;
		margin-right: 0;

		//border: 3px dotted red;
		text-align: right;
	}

	.hero_img{
		display: inline-block;
		z-index: 0;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		max-width:100%;
		max-height:100%;
		//border: 3px dotted blue;
	}

	.header_logo{
		margin-top:10px;
		margin-right: auto;
		margin-left: 0;
		display: grid;
		height: 50px;
		justify-content: left; 
		//border: 2px dotted red;
	}

	.header_content {
	
	}

	.header_title{
	}

	.header_title > h3 { 
		color: grey;
	 }

	.know-hire_buttons{
		display: inline-block;
		padding: 10px 0px 0px 0px;
		width: 95%;
	}

	.know_me_button {
		background-color: white;
		height: 50px;
		width: 40%;
		border: none;
		font-family: "Arial Black";
		font-size: 18px;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	}

	.hire_me_button {
		background-color: unset;
		height: 50px;
		width: 40%;
		border: solid  1px;
		font-family: "Arial Black";
		font-size: 18px;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	}

	.unknown_arrow {
		display: block;
		position: absolute;
		top: 640px;
		background-color: white;
		height: 60px;
		width: 60px;
		border: solid  1px;
		font-family: "Arial Black";
		font-size: 18px;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	}

	.header_menu{
		z-index: 100;
		display: grid;
		box-sizing: border-box;
		padding-left: 5%;
		padding-right: 5%;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 2fr;
		position: fixed;
		top: 0;
		width: 100%;
		background-color: rgba(255,255,255, 0.85);
		box-shadow: 0 0 30px rgba(0,0,0,0.1);
		height: 100px;
		//border: 2px dotted blue;
	}

	.menu_container{
		margin-left: auto;
		margin-right: 0;
	}

	.menu_item{
		display: inline-block;
		margin-top: 25px;
		margin-left: 15px;
		//border: 2px dotted blue;
		text-decoration: none;
		color: black; 	
	}

	.header_menu > a{
		text-decoration: none;
	}

	.about_block{
		min-width: 600px;
		box-sizing: border-box;
		height: 675px;
		padding-top:100px;
	}

	.about_container{
		display: grid;
		margin-left: 5%;
		margin-right: 5%;
		grid-template-columns: 1fr 1fr;
		background-color: white;
		//border: 3px dotted red;
	}

	.about_block_img_container{
		//padding: 0;
		//margin: 0;
		margin-left: auto;
		margin-right: 0;
		vertical-align: middle;
		//border: 2px dotted green;
	}

	.about_block_img{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		max-width:100%;
		max-height:auto;
	}

	.about_me_text{
		//border: 2px dotted blue;
		padding-right: 20%;
	}

	.about_block_title > h2{
		font-size: 40px;
		text-transform: uppercase;

	}

	.about_block_title hr {
		position: absolute;
		width: 50px;
		//border: none;
		height: 2px;
		color: black;
		background-color: black;
	}

	.block_title > h2{
		text-transform: uppercase;
		font-size: 40px;
		text-align: center;
	}

	.block_title > hr { 
		width: 50px;
		//border: none;
		height: 2px;
		color: black;
		background-color: black;
	 }

	.about_container > p{
		font-size: 18px;
	}

	.download_button{
		background-color: unset;
		height: 50px;
		width: 50%;
		border: solid  1px;
		font-family: "Arial Black";
		font-size: 18px;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
		margin: 30px 0px 0px 0px;
	}
	.services_block{
		min-width: 600px;
		box-sizing: border-box;
		padding: 110px;
		display: grid;
		height: 700px;
		align-items: center;
		background-color: #f6f6f6;
		padding: 110px;
	}

	.services_panel{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 20px;
		padding: 20px;
	}

	.serv_panel_item{
		display: grid;
		align-items: center;

	}

	.my_skills_block{
		min-width: 600px;
		box-sizing: border-box;
		padding: 110px;
		height: 750px; 
		text-align: center;
	}

	.skills_plot{
	padding: 40px;
	}
	.adobe_item{
		width: 20px;
	}
	.adobe_img_block{
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.service_block{
		min-width: 600px;
		box-sizing: border-box;
		padding: 110px;
		height: 300px;
	}

	.portfolio_block{
		min-width: 600px;
		box-sizing: border-box;
		padding: 110px;
		height: 1100px;
		background-color: #f6f6f6;
		text-align: center;
	}

	.portfolio_block_panel{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.load_more_button{
		background-color: white;
		height: 50px;
		width: 150px;
		border: none;
		font-family: "Arial Black";
		font-size: 18px;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.1);

	}

	.testimonials_block{
		min-width: 600px;
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		height: 570px;
		grid-gap: 50px;
		padding: 110px;
	}

	.slide_block{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.slide_item{
		display: grid;
		grid-template-columns: 1fr 5fr;

	}
	.metric_panel{
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.contact_block{
		min-width: 600px;
		box-sizing: border-box;
		padding: 110px;
		height: 785px;
		//background-color: grey;
		background-image: url("img/contact_bg.jpg");
		background-size: cover;
	}

	.contact_content {
		border:2px dotted red;
	}

	form{
		display: grid;
		grid-template-columns: 1fr 100px 1fr;
		grid-template-areas: "text_input .  email_input"
							 "message  message	 message"
							 		". submit .";
		grid-row-gap: 20px;
		grid-column-gap: 0px;
		margin-top: 50px;
		width: 800px;
	}

	form > div{
		height: 60px;
		margin: 0px;
		width: 100%;
	}

	form > div > input{
		height: 60px;
		min-width: 97%;
		margin: 0px ;
		font-size: 20px;
		border: none;
		padding: 0px 0px 0px 10px;
	}


	form > div > textarea{
		resize: none;
		font-size: 20px;
		height: 100px;
		width: 99%;
		border: none;
		padding: 10px 0px 0px 10px;

	}


	form > div > button[type="submit"] {
		padding: 0;
		width: 100%;
		background-color: white;
		height: 50px;
		border: none;
		font-family: "Arial Black";
		font-size: 16px;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	}

	form > div > input[type="text"]{
	}




	.text{
		grid-area: text_input;
	}

	.email{
		grid-area: email_input;
	}

	.message{
		grid-area: message;
		height: 100px;
		width: 100%;
	}

	.submit{
		grid-area: submit;
		position:  relative;
	}

	.top_arrow {
		position: relative;
		left: 1100px;
		bottom: 100px;
		width: 50px;
		background-color: white;
		height: 50px;
		border: none;
		font-family: "Arial Black";
		font-size: 16px;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	}

	.footer_root{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		height: 70px;
		color: white;
	}

	.social_link_block{
		display: flex;
		align-items: center;
	}


	.link_block{
		display: flex;
		align-items: center;
	}
}